@import '../../../assets/css/main.scss';
$pd_1: 32px 22px;
%header {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #2A398D;
    padding-bottom: 35px;
}
.form_container {
  padding: 40px 20px;
  background-color: #F5F0E4;
  h3 {
    @extend %header;
  }
}
.mobileFixedContainer {
  @extend .form_container;
  @extend %fixed_bottom_position;
  @extend %space_between_align_center;
  height: 116px;
  padding: $pd_1;
  box-shadow: 0px -10px 10px rgba(63, 63, 63, 0.2);
  z-index: 100000;
  &::after {
    content: " ";
    position: absolute;
    top: -16px;
    left: 50%;
    margin-left: -26px;
    width: 52px;
    border: 2px solid #3F3F3F;
    border-radius: 25px;
  }
}
.mobileFixedContainerForForm {
  @extend .form_container;
  @extend %fixed_bottom_position;
  padding: $pd_1;
  z-index: 100000;
  transform: translateY(0);
  transition: transform 0.5s;
  .closeForm {
    position: absolute;
    top: 24px;
    right: 26px;
    width: 15px;
    height: 15px;
  }
  h3 {
    padding-top: 20px;
    padding-bottom: 52px;
  }
}
.mobileFixedContainerForForm_hide {
  transform: translateY(100%);
  width: 0;
  height: 0;
  opacity: 0;
}
.mobileFixedContainerTabZone {
  position: fixed;
  bottom: 82px;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 50px;
  z-index: 100001;
}
.background {
  @extend %fixed_full_screen;
  background: rgba(9, 21, 39, 0.8);
}
@media all and (max-width: 630px) {
  .mobileFixedContainer {
    flex-direction: column;
    height: 161px;
  }
}
/* form styles */
form.enquire-form {
  --placeholder-font-weight: 300;
  --form-group-indent: 17px;
  label,
  label > input,
  label > textarea {
    width: 100%;
    font-weight: 300;
    line-height: 22px;
    color: var(--dark-navy);
    &:focus {
      color: var(--dark-navy);
    }
  }
  .form-control {
    border: 1px solid var(--text-blue);
    border-radius: 4px;
    height: 38px;
  }
  .items-indent .form-group {
    margin: var(--form-group-indent) 0;
    &:first-child { margin-top: 0!important; }
    &:last-child { margin-bottom: 0!important; }
  }
  .textarea-indent {
    @media (max-width: 767px) {
      margin-top: var(--form-group-indent);
    }
  }
  input::placeholder,
  textarea::placeholder {
    font-weight: var(--placeholder-font-weight);
    color: var(--text-blue-darker);
  }
  input, textarea {
    width: 100%;
  }
  label {
    font-family: Lato;
    font-size: 12px;
    line-height: 14px;
    color: #2A398D;
    position: absolute;
    top: -16px;
    left: 1px;
    max-width: 90px;
  }
  .relative_child_div {
    & > div {
      position: relative;
    }
    label {
      left: 16px;
    }
  }
}
// form.enquire-form-hide-label {
//   @extend form.enquire-form;
//   label {
//     display: none;
//   }
// }
.mb_35 {
  margin-bottom: 35px !important;
}
.h_228 {
  height: 228px;
}
.sticky_block {
  position: sticky !important;
  top: 68px;
  align-self: flex-start;
}
@media all and (max-width: 1125px) {
  .sticky_block {
    top: 46px;
  }
}
/*===============================
============after send==========*/
.after_send_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 40px;
  img {
    height: 40px;
    width: auto;
  }
  h3 {
    @extend %header;
    padding-top: 38px;
  }
  p {
    text-align: center;
    padding-bottom: 48px;
  }
}